.container {
	width: 100%;
}
#navbar-content {
	padding-bottom: 20px;
	padding-left: 20px;
}
#loading {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
}
#fixed-canvas {
	width: 60%;
	height: 87%;
	position: fixed;
	top: 60px;
	right: 20px;
	margin-left: 10px;
}
#map-canvas {
	width: 100%;
	height: 100%;
}
#map-canvas img {
	max-width: none;
}
#search-map-input {
	background-color: white;
	color: black;
}
#farmers-markets {
	width: 35%;
	margin-left: 20px;
	margin-top: 60px;
}
#farmers-markets div {
	font-style: italic;
}
#farmers-markets div:hover, #farmers-markets div.selected {
	background: #8DBC8F;
}
#farmers-markets div:first-line {
	font-weight: bold;
	font-style: normal;
}
#market-error {
	height: 87%;
	display: none;
}
#fm-container {
	display:none;
}

@media only screen and (max-width: 860px) {
	#fixed-canvas {
		width: 95%;
		height: 400px;
		position: absolute;
		top: 70px;
		margin: auto;
	}
	#farmers-markets {
		margin: auto;
		margin-top: 440px;
		margin-left: 10px;
		margin-right: 10px;
		width: 100%;
		text-align: center;
	}
}

@media only screen and (max-width: 450px), (max-device-width: 450px) {
	#fixed-canvas {
		height: 100%;
		width: 100%;
		top: 0px;
		left: 0px;
		z-index: -1;
	}

	#farmers-markets {
		display: none;
	}

	#search-map-input {
		margin-left: 10%;
	}

	#navbar-content .brand {
		display: none;
	}
}