#loading {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
}
#fixed-canvas {
	width: 60%;
	height: 87%;
	position: fixed;
	top: 60px;
	margin-left: 10px;
}
#map-canvas {
	width: 100%;
	height: 100%;
}
#map-canvas img {
	max-width: none;
}
#search-map-input {
	height: 30px;
}
#side-bar {
	float: right;
	width: 35%;
	margin-right: 10px;
	margin-top: 60px;
}
#farmers-markets div {
	font-style: italic;
}
#farmers-markets div:hover, #farmers-markets div.selected {
	background: #8DBC8F;
}
#farmers-markets div:first-line {
	font-weight: bold;
	font-style: normal;
}