<html>
	<head>
		<meta charset="UTF-8">
		<title>Best Coast Eats Local</title>
		<link rel="stylesheet" type="text/css" href="static/css/lib/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/farmers-market.css"></style>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="brand" href="#">
							Best Coast Eats Local
						</a>
						<div class="navbar-search pull-left">
							<input id="search-map-input" type="text" class="search-query" placeholder="Search">
						</div>
						<div class="navbar-text pull-right">
							Hello {{ nickname }} | <a href="{{ url }}">{{ url_linktext }}</a>
						</div>
					</div>
				</div>
			</div>
		<div id="loading">
			Loading...
		</div>
		<div id="fm-container" style="display: none;">
			<div id="side-bar">
				<img id="market-error" src="/static/img/best-coast-error.jpeg" style="height: 87%; display: none;"></img>
				<div id="farmers-markets">
				</div>
			</div>
			<div id="fixed-canvas">
				<div id="map-canvas"></div>
			</div>
		</div>
		{% raw %}
		<script id="info-window-template" type="text/x-handlebars-template">
			<div>
				<strong>{{ info.market }}</strong>
				<br>
				{{ info.street }}
				<br>
				{{ info.city }}, {{ info.state }} {{ info.zip }}
				<br><br>
				<strong>Specialties: </strong>
				{{ specialties }}
				<br><br>
				<strong>
					<a href="{{ info.website }}" target="_blank">Website</a></strong>
			</div>
		</script>
		{% endraw %}
		<script src="static/js/lib/handlebars.js"></script>
		<script src="static/js/lib/to-title-case.js"></script>
		<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script src="static/js/lib/lscache.js"></script>
		<script src = "static/js/farmer-market-model.js"></script>
		<script src="static/js/farmers-market.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDApBGGo33H0Up28xx8FwrjFjhtE_vE9k4&sensor=true&callback=initializeApp"></script>
	</body>
</html>