<html>
	<head>
		<meta charset="UTF-8">
		<title>Best Coast Eats Local</title>
		<link rel="stylesheet" type="text/css" href="static/css/lib/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/farmers-market.css"></style>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="brand" href="#">
							Best Coast Eats Local
						</a>
						<div class="navbar-search pull-left">
							<input id="search-map-input" type="text" class="search-query" placeholder="Search">
						</div>
						<div class="navbar-text pull-right">
							Hello {{ nickname }} <a href="{{ url }}">{{ url_linktext }}</a>
						</div>
					</div>
				</div>
			</div>
		<div id="loading">
			Loading...
		</div>
		<div id="fm-container" style="display: none;">
			<div id="side-bar">
				<div id="market-info">
					<section id="farmers-markets">
					</section>
				</div>
			</div>
			<div id="fixed-canvas">
				<div id="map-canvas"></div>
			</div>
		</div>
		<script src="static/js/lib/to-title-case.js"></script>
		<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script src="static/js/lib/lscache.js"></script>
		<script src = "static/js/farmer-market-model.js"></script>
		<script src="static/js/farmers-market.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDApBGGo33H0Up28xx8FwrjFjhtE_vE9k4&sensor=true&callback=initializeApp"></script>
	</body>
</html>